*{
	margin: 0;
	padding: 0;
}

body{
	font-family: 'Roboto', sans-serif;
	width: 100%;
}

.navbar{
	background-color: #00487A;
	text-align: center;
	margin: auto;
	width: 100%;
}

.flex-container{
	display: flex;
	justify-content: center;
}

.navbar a{
	display: block;
	padding: 10px 20px;
	text-decoration: none;
	color: white;
	cursor: crosshair;
}

.navbar a:hover{
    background-color: #0065AB;
}

.menuDos{
    display: none;
}
