@media (min-width: 200px) and (max-width: 550px){
	.flex-container{
		flex-direction: column;
	}
	.menuDos{
		color: white;
		font-size: 30px;
		display: inline;
		padding: 10px;
	}
	.navbar{
		background-color: #454545;
		font-family: 'Quicksand', sans-serif;
		text-align: center;
		margin: auto;
		width: 100%;
	}
	.navbar a{
		color: white;
		text-decoration: none;
		padding: 10px;
	}
	.navbar a:hover{
		background-color: #6B6B6B;
	}
	.hiden{
		display: none;
	}
	.mostrar{
		display: inline;
	}
}

