@media screen and (min-width: 769px){
	.contenedor .navbar ul{
		display: flex;
		justify-content: flex-start;
	}

	.contenedor .navbar li{
		flex: 1 1 0;
	}
}

@media screen and (max-width: 768px){
	body{
		font-family: 'Quicksand', sans-serif;
	}

	.contenedor .navbar{
		display: none;
	}

}
